<div class="employees">

  <h1>All employees</h1>
  <% if @employees.empty? %>
    <p>No employees found</p>
  <% else %>
    <div  style= "
              display: flex;
              flex-wrap: wrap;
              gap: 2rem;
              width: 60%;
            ">

      <% @employees.each do |item| %>
      <div class="employees-list" style="
                        margin:1rem 0; 
                        margin: 1rem 0;
                        width: fit-content;
                        border: solid 1px black;
                        padding: 2rem;
                        display: grid;
                        gap: 1rem;
                        "
                        >

            <div>
                Full Name: <b> <%= item.first_name%> <%= item.last_name%>  </b> 
                <br>
                Email: <b> <%= item.email%>  </b>
                <br>
            </div>


            <div style="display: flex; gap:1rem;" class="links">
                <%= link_to "Show", employee_path(item) %>
                <%= button_to "Delete", employee_path(item), method: :delete %>
            </div>
            <div class="notice" style="position: absolute; left:50%; top:50%; transform: translate(-50%, -50%); color:red; font-weight: bold; font-size: 2rem;"><%= flash[:notice] %></div>

            
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to "Create a New employee", new_employee_path %>
  <hr>
  <br>
  <%= link_to "Back to Hotel Page", hotels_path %>

  
</div>
