<div class="guests">

  <h1>All guests</h1>

  <% if @guests.empty? %>
    <p>No guests found</p>
  <% else %>
    <div  style= " display: flex; flex-wrap: wrap; gap: 2rem; width: 60%; ">
      <% @guests.each do |item| %>
      <div class="guests-list" style=" margin:1rem 0; margin: 1rem 0;width: fit-content;border: solid 1px black;padding: 2rem;display: grid;gap: 1rem; ">
            <div>
              Full name: <%= item.full_name_en %> ( <%= item.full_name_ar %> )<br>
              Email: <%= item.email %>
            </div>
            <div style="display: flex; gap:1rem;" class="links">
                <%= link_to "Show", v1_guest_path(item) %>
                <%= button_to "Delete", v1_guest_path(item), method: :delete %>
            </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to "Create a New guest", new_v1_guest_path %>
  <hr> <br>
  <%= link_to "Back to Hotel Page", v1_hotels_path %>

  
</div>
