
<div data-controller="salary" class="new_guest_page">
  <div class="intro" style = "text-align: center;">
      <h1>New guest</h1>
  </div>
  
  <%= form_with(model: @guest, local: true, url: v1_guests_path) do |form| %>
    <%= form.label "Full name (English)" %>
    <%= form.text_field :full_name_en %>
    <br>
    <%= form.label "Full name (Arabic)" %>
    <%= form.text_field :full_name_ar %>
    <br>
    <%= form.label "ID card number" %>
    <%= form.text_field :id_card_number %>
    <br>
    <%= form.label "Passport number" %>
    <%= form.text_field :passport_number %>  
    <br>
    <%= form.label "email" %>
    <%= form.text_field :email %>  
    <br>
    <%= form.label "birthday" %>
    <%= form.date_field :birthday %>  
    <br>
    <%= form.label "Mobile number" %>
    <%= form.text_field :mobile_number %>  
    <br>
    <br>
    <br>
    <%= form.submit %>
  <% end %>
    <br>
    <br>
    <%= link_to "Back", v1_guests_path %>
</div>