<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @booking.holder.full_name_en%> - <%= @booking.holder.full_name_ar %> </h1>
    <p>Your room "<%= @booking.room.room_number %>" has been <strong><%= @booking.status %></strong> successfully.</p>
    <p>The booking will be for <b><%= @booking.setting_duration_value %> days.</b></p>
    <p>Check-in date: <%= @booking.check_in_date %></p>
    <p>Check-out date: <%= @booking.check_out_date %></p>

    <p>Thank you for choosing our hotel!</p>

    <p>Best regards,</p>
    <p>The Hotel Team</p>

  </body>
</html>
