
<div class="Hotels">
<% styleCSS = "color: #03a9f4; text-decoration: none; font-size: 1.2rem; font-weight: 600; margin: 0 20px;"%>
<div class="hotel-page" style="text-align: center; font-family: 'Open Sans', sans-serif; color: #1a1a1a; margin-bottom:9rem;">
    <h1 style="font-size: 3rem; font-weight: 800; margin-bottom: 20px;">Welcome to the hotel page</h1>
    <div class="navigation" style="display: flex; justify-content: center;">
        <%= link_to "View All Employees", v1_employees_path , style:styleCSS %> |
        <%= link_to "View All Rooms", v1_rooms_path, style:styleCSS  %>
    </div>
</div>

  <h1>List of Hotels</h1>


  <%= search_form_for @q, url: v1_hotels_path do |f| %>
    <%= f.label :name_cont, "Hotel by name" %>
    <%= f.search_field :name_cont %>
    <%= f.submit "Search" %>
  <% end %>

 
  <% if @hotels.empty? %>
    <p style="border: solid 2px black; width: fit-content; padding:2rem; color:red; font-weight:bold;">No Hotels Found :(</p>
  <% else %>
    <div  style= "display: flex; flex-wrap: wrap; gap: 2rem; width: 60%; ">
      <% @hotels.each do |item| %>
      <div class="Hotels-list" style=" margin:1rem 0; margin: 1rem 0; width: fit-content; border: solid 1px black; padding: 2rem; display: grid; gap: 1rem; " >
            <div>
                hotel Name: <b> <%= item.name%> </b>
                <br>
            </div>
            <div style="display: flex; gap:1rem;" class="links">
                <%= link_to "Details", v1_hotel_path(item) %>
                <%= button_to "Delete", v1_hotel_path(item), method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
        </div>
      <% end %>
    </div>
  <% end %> 
  
  <hr>
  <br>
  <%= link_to "Create a New hotel", new_v1_hotel_path %>
  
</div>
