<div class="showing-hotels">

  <div class="content-intro" style="text-align:center;">
    <h1>Your hotel info: </h1>
  </div>
  
  <div class="hotel-info-wrapper" style="width: fit-content; border: solid 1px black; padding: 2rem;">
    <b>      Your hotel name is:          </b> <%= @hotel.name %>
    <br>
    <b>      Your hotel address is:       </b> <%= @hotel.address %>
    <br>
    <b>      The hotel is located in:     </b> <%= @hotel.city%>
    <br>
    <b>      Your hotel phone number is:  </b> <%= @hotel.phone_number %>
    <br>
  
    <%= button_to "Delete", v1_hotel_path(@hotel.id), method: :delete %>
  
  </div>
  <hr>
  <br>
  <br>
  <%= link_to "View All Employees", v1_employees_path %>   <br>
  <%= link_to "View All Rooms", v1_rooms_path %>           <br>
  <%= link_to "Back", v1_hotels_path %>

</div>
