<div class="showing-rooms">

  <div class="content-intro" style="text-align:center;">
      <h1>Your Room info: </h1>
  </div>

  <div class="room-info-wrapper" style="width: fit-content; border: solid 1px black; padding: 2rem;">
      <b>Your floor number is: </b> <%= @rooms.floor_no %>
      <br>
      <b>Your room number is: </b> <%= @rooms.room_no %>
      <br>
      <b>Room's max capacity is: </b> <%= @rooms.max_capacity%>
      <br>
      <b>Your hotel ID is: </b> <%= @rooms.room_id %>
      <br>
      <b>Total price is: </b> <%= @rooms.price %>
      <br>
      <b>Hotel ID: </b> <%= @rooms.hotel_id %>
      <br>
      <b>Belongs to Hotel: </b> <%= @rooms.hotel_name %>

      <%= button_to "Delete", room_path(@rooms.id), method: :delete %>

  </div>
  <hr>
  <br>
  <br>

  <%= link_to "Back", rooms_path %>

</div>