
<div data-controller="salary" class="new_booking_page">
  <div class="intro" style = "text-align: center;">
      <h1>New booking</h1>
  </div>
  
  <%= form_with(model: @booking, local: true, url: v1_bookings_path) do |form| %>
    <%= form.label "Room id" %>
    <%= form.collection_select :room_id, Room.all, :id, :room_number, prompt: "Select a room" %>
    <br>
    <%= form.label "Employee id" %>
    <%= form.collection_select :employee_id, Employee.all, :id, :first_name, prompt: "Select an employee" %>
    <br>
    <%= form.label "Holder ID" %>
    <%= form.collection_select :holder_id, Guest.all, :id, :id_card_number, prompt: "Select an guest" %>
    <br>
    <%= form.label "Check in" %>
    <%= form.date_field :check_in_date %>  
    <br>
    <%= form.label "Check out" %>
    <%= form.date_field :check_out_date %>  
    <br>
    <br>
    <br>
    <%= form.submit %>
  <% end %>
    <br>
    <br>
    <%= link_to "Back", v1_bookings_path %>
</div>