<div class="hotels">

  <h1>All Hotels</h1>
  <% if @hotel.empty? %>
    <p>No hotels found</p>
  <% else %>
    <div  style= "
              display: flex;
              flex-wrap: wrap;
              gap: 2rem;
              width: 60%;
            ">
      <% @hotel.each do |item| %>

      <div class="hotels-list" style="
                        margin:1rem 0; 
                        margin: 1rem 0;
                        width: fit-content;
                        border: solid 1px black;
                        padding: 2rem;
                        display: grid;
                        gap: 1rem;
                        "
                        >

            <div>
                Hotel Name: <b> <%= item.hotel_name%> </b>
                <br>
                Hotel ID: <b> <%= item.hotel_id%> </b>
            
            <%= button_to "Delete", hotel_path(item.id), method: :delete%>



            </div>
            <div class="notice" style="position: absolute; left:50%; top:50%; transform: translate(-50%, -50%); color:red; font-weight: bold; font-size: 2rem;"><%= flash[:notice] %></div>

            
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to "Create a New Hotel", new_hotel_path %>
  <br>
  <br>
  <br>
  <%= link_to "Back To Home", root_path %>
  
</div>
