
<div class="new_hotel_page">
    <div class="intro" style = "text-align: center;">
        <h1>New hotel</h1>
    </div>
    
    <%= form_with(model: @hotel, local: true) do |form| %>
    <%= form.label :name %>
    <%= form.text_field :hotel_name %>

    <br>
    <%= form.label "Hotel id" %>
    <%= form.text_field :hotel_id %>

    <br>
    <br>

    <%= form.submit %>
    <% end %>

    <br>
    <br>

    <%= link_to "Back", hotels_path %>

</div>