
<div class="new_hotel_page">
  <div class="intro" style = "text-align: center;">
    <h1>Create a New hotel</h1>
  </div>
  
  <%= form_with(model: @hotel, local: true) do |form| %>
  <%= form.label "Hotel Name:" %>
  <%= form.text_field :name %>
  
  <br>
  <%= form.label "Hotel Address:" %>
  <%= form.text_field :address %>
  
  <br>
  <%= form.label "Which city: " %>
  <%= form.text_field :city %>
  
  <br>
  <%= form.label "Phone Number" %>
  <%= form.number_field :phone_number %>
  
  
  <br>
  <br>
  
  <%= form.submit %>
  <% end %>
  
  <br>
  <br>
  
  <%= link_to "Back", hotels_path %>

</div>
