<div class="rooms">

  <h1>All rooms</h1>


  <%= search_form_for @q, url: v1_rooms_path do |f| %>
    <%= f.label :room_number_cont, "Room by number" %>
    <%= f.search_field :room_number_cont %>
    <div>
      <%= sort_link @q, :price, "Price" %>
    </div>
    <%= f.submit "Search" %>
  <% end %>



  <% if @rooms.empty? %>
    <p style="color:red; font-weight:bold;">No rooms found</p>
  <% else %>
    <div  style= "display: flex; flex-wrap: wrap; gap: 2rem; width: 60%; ">
      <% @rooms.each do |item| %>
      <div class="rooms-list" style=" margin:1rem 0; margin: 1rem 0; width: fit-content; border: solid 1px black; padding: 2rem; display: grid; gap: 1rem; " >
            <div>
                Room No: <b> <%= item.room_number%> </b>
                <br>
            </div>
            <div style="display: flex; gap:1rem;" class="links">
                <%= link_to "Show", v1_room_path(item) %>
                <%= button_to "Delete", v1_room_path(item), method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
        </div>
      <% end %>
    </div>
  <% end %>
  
  <%= link_to "Create a New room", new_v1_room_path %>
  <hr>
  <br>
  <%= link_to "Back to hotel page", v1_hotels_path %>
  
</div>
