
<div class="new_room_page">
  <div class="intro" style = "text-align: center;">
    <h1>Create a New room</h1>
  </div>
  
  <%= form_with(model: @room, local: true) do |form| %>
  <%= form.label "Room number" %>
  <%= form.text_field :room_no %>
  
  <br>
  <%= form.label "Floor number" %>
  <%= form.text_field :floor_no %>
  
  <br>
  <%= form.label "Max capacity" %>
  <%= form.number_field :max_capacity %>
  
  <br>
  <%= form.label "Price(USD)" %>
  <%= form.number_field :price %>
  
  <br>

  <%= form.label "Reserve" %>
  <%= form.check_box :reserved %>
  <br>

  <%= form.label "Hotel Name" %>
  <%= form.collection_select :hotel_id, Hotel.all, :id, :name, prompt: "Select a hotel" %>
  <br>
  
  <br>
  
  <%= form.submit %>
  <% end %>
  
  <br>
  <br>

<%= link_to "Back", v1_rooms_path %>

</div>